<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.vojtisek.smach">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    -->

    <application
        android:name="cz.vojtisek.smach.SmachApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="cz.vojtisek.smach.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cz.vojtisek.smach.activity.MonitoringActivity" />
        <activity android:name="cz.vojtisek.smach.activity.AmpsetActivity" />
        <activity
            android:name="cz.vojtisek.smach.activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName="cz.vojtisek.smach.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.vojtisek.smach.activity.MainActivity" />
        </activity>
        <activity
            android:name="cz.vojtisek.smach.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="cz.vojtisek.smach.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.vojtisek.smach.activity.MainActivity" />
        </activity>

        <service
            android:name="cz.vojtisek.smach.SmachNotificationExtender"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_maps_key}" />
    </application>

</manifest>